h1 {
	text-align: center;
}

h3 {
	color: green;
}

#content {
	border: 1px solid black;
	background-color: #eee;
	position: relative;
	padding: 2em;
	margin: 0 auto;
	height: 500px;
	width: 800px;
	border-radius: 30px;
}

.top-buffer {
	margin-top: 50px;
}

#alphabet {
  margin:15px auto;
  padding:0;
  max-width:900px;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:30px;
  height:30px;
  padding-top:10px;
  padding-left: 15px;
  background: black;
  color:white;
  cursor:pointer;
  border: solid 1px white;
}

#alphabet li:hover{
	  background: gray;
	  border: solid 1px $white;
	  color: white;
}

#guess {
	color: black;
}

#guesses li {
  float:left;
  list-style:none;
  width:30px;
  height:30px;
  color: black;
}
