#title{
	text-align: center;
}
#rule_box{ 
	width: 20%;
	height: 450px;
	margin-right: 10px; 
	border: 1px solid black;
	box-shadow: 5px 5px 5px #888888;
}
#rules{
	padding-left: 15px;
	padding-top: 5px;
}
.flex-parent {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: auto;
}

.flex-child {

}

.questions{
	padding-top: 15px;
}

#gameboard{
	text-align:left;
    background-color: #E7D5FF;
	border: 2px solid black;
 	width: 60%;  /* Or whatever */
    height: 600px; /* Or whatever */
    box-shadow: 10px 10px 5px #888888;
}

